* {
  font-family:
    ui-sans-serif,
    system-ui,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    Segoe UI Symbol,
    "Noto Color Emoji";
}

body {
  display: flex;

  background-image: url("public/img/page_bg_raw.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  justify-content: center;
}

#main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin-top: 150px;
}

@media (max-width: 768px) {
  #main-container {
    width: 80%;
  }
}

.button-container-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-bottom: 20px;

  min-height: 40px;
  width: 100%;
  padding: 4px;
}

.button-container-header button {
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color: #f1f5f9;
  opacity: 0.8;
  border-radius: 8px;
  font-weight: bolder;
  transition: background-color 0.3s ease;
}

h1 {
  margin-bottom: 0px;
  color: #ffffff;
}
p {
  color: #ffffff;
}

.forms-container,
#output-container {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  width: 100%;

  h2 {
    width: 100%;
    margin: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
  textarea {
    resize: none;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    padding: 10px;
  }
  input,
  button {
    height: 40px;
    border-radius: 8px;
    font-weight: bolder;
  }
  input {
    border: 1px solid #e2e8f0;

    padding: 0 10px;
  }

  .percentage-container {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    input {
      width: 100%;
    }
  }
  button {
    border: none;
    background-color: #0f172a;

    color: white;
    cursor: pointer;
  }
  button:hover {
    background-color: #1e293b;
  }
}

body.updateValues {
  button#updateValues {
    opacity: 1;
  }

  h2#power {
    display: none;
  }

  #power-form {
    display: none;
  }
}

body.updatePower {
  button#updatePower {
    opacity: 1;
  }
  h2#price {
    display: none;
  }
  #value-form {
    display: none;
  }
}

#output {
  width: 100%;
  max-height: 250px;
  overflow: auto;
}

#output-container {
  position: relative;
  display: none;
  margin-top: 24px;

  pre {
    background-color: #f1f5f9;
    padding: 14px 8px;
    border-radius: 8px;
    width: calc(100% - 16px);
    overflow: auto;
  }
  margin-bottom: 25px;
}

.output-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  button {
    width: fit-content;
    padding: 0 24px;
  }
  h2 {
    width: fit-content !important;
  }
}

#copy-button {
  margin-right: 30px;
}

#close-button {
  font-weight: bolder;
  cursor: pointer;
  position: absolute;
  font-size: 22px;
  top: 10px;
  right: 15px;
}

header{
  position: absolute;
  left: 20px;
}
